@import '../../sass/stile.scss';


.ListaTareas {
    padding: 10px;
    width: 500px;
    border-radius: 8px;
    background-color: $Very-Dark-Desaturated-Blue;
    color: $Light-Grayish-Blue;


    &__contenedor {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: solid $Very-Dark-Grayish-Blue 0.1px;
        padding: 10px;
    }
     &__tareasOk {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: solid $Very-Dark-Grayish-Blue 0.1px;
        padding: 10px;
    } 

    &__boton {
        width: 20px;
        height: 20px;
        border-radius: 50px;
        background-image: linear-gradient(hsl(192, 100%, 67%), hsl(280, 87%, 65%));
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;

    }



    &__pendientes {
        width: 90%;
        height: 90%;
        border: gray solid 1px;
        border-radius: 50px;
        background-color: $Very-Dark-Desaturated-Blue;
        

        &:hover {
            border: none;
        }
    }


    &__texto {
        font-size: 25px;
        text-align: left;
    }
    
    &__eliminar {
        color: $Very-Dark-Grayish-Blue;
        font-size: 30px;
    }
    
    &__tachado {
        text-decoration: line-through;
        color: $Dark-Grayish-Blue;
    }

    &__servicios {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 60px;
        color: $Dark-Grayish-Blue;

        p {
            cursor: default;
        }
    }

    &__botones {
        display: flex;
        gap: 10px;

    }

    button {
        background-color: transparent;
        border: none;
        font-size: 16px;
        color:$Dark-Grayish-Blue;
        cursor: pointer;        

        &:focus {
            color: blue;
        }
    }

    &__hoverNoche:hover {
        transition: 0.5s;
        color: $Light-Grayish-Blue-hover;
    }

    &__hoverDia:hover {
        transition: 0.5s;
        color: $Very-Dark-Blue;
    }
}


.noSeleccionado{
    display: none;
}