@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import 'sass/stile';

* {
    margin: 0;
    padding: 0;
}

 body {
    height: 100vh;
    font-family: 'roboto';
    background-image: url('./img/fondo.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: fixed;

    display: flex;
    align-items: center;
    justify-content: center;
}
 
.App {
    margin-top: -20%;

    &__cabecera {
        margin-bottom: 30px;
    }

    &__diaNoche {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 40px;
    }

    &__titulo {

        font-size: 60px;
        text-align: left;
        color: white;
        letter-spacing: 20px;
    }

    &__footer {
        display: flex;
        justify-content: center;
        margin-top: 35px;
        color: $Very-Dark-Grayish-Blue;
    }


}

